<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sk.upjs.vma.kryciemena">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GameplayCooperativeActivity"
            android:parentActivityName=".MainMenuActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyTheme.NoActionBar" />
        <activity
            android:name=".WordDatabaseActivity"
            android:parentActivityName=".MainMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameplayAdministrativeActivity"
            android:parentActivityName=".MainMenuActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyTheme.NoActionBar" />
        <activity
            android:name=".MainMenuActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainMenuActivity"
            android:theme="@style/AppTheme" />

        <provider
            android:name=".provider.KrycieMenaContentProvider"
            android:authorities="sk.upjs.vma.kryciemena"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".AboutActivity"></activity>
    </application>

</manifest>